<main class="d-flex">
  <!-- Sidebar -->
  <div class="sidebar fixed-sidebar">
    <div class="header">
      <h2>WOLF FITNESS</h2>
      <h4>{{ getUserName }}</h4>
    </div>
    <hr class="h-color mx-2 col-12" />
    <div class="body">
      <span class="col-12">Opciones</span>
      <div
        class="option"
        [ngClass]="{ active: actionActive === 'clients' }"
        (click)="actionActive = 'clients'"
      >
        Clientes
      </div>
    </div>
    <div class="footer">
      <button (click)="logOut()">Cerrar sesion</button>
    </div>
  </div>

  <!-- All clients -->
  <app-all-clients
    *ngIf="actionActive === 'clients'"
    [clients]="clients"
    [copyClients]="clients"
  ></app-all-clients>
</main>
