<main class="d-flex">
  <!-- Sidebar -->
  <div class="sidebar fixed-sidebar">
    <div class="header">
      <h2>WOLF FITNESS</h2>
      <h4>{{ getUserName }}</h4>
    </div>
    <hr class="h-color mx-2 col-12" />
    <div class="body">
      <span class="col-12">Opciones</span>
      <div
        class="option"
        [ngClass]="{ active: actionActive === 'clients' }"
        (click)="actionActive = 'clients'"
      >
        Clientes
      </div>
      <div
        *ngFor="let trainer of trainers"
        class="option"
        [ngClass]="{ active: actionActive === trainer.attributes.name }"
        (click)="
          actionActive = trainer.attributes.name;
          filterClients(trainer.attributes.name)
        "
      >
        {{ trainer.attributes.name }}
      </div>
    </div>
    <div class="footer">
      <button (click)="logOut()">Cerrar sesion</button>
    </div>
  </div>

  <!-- All clients -->
  <div class="main-content" *ngIf="actionActive === 'clients'">
    <div class="content-header">
      <h2>Clientes</h2>
    </div>

    <div class="form-check d-flex filter">
      <div class="form-check">
        <label class="form-check-label" for="flexRadioDefault1">
          Todos los clientes
        </label>
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault1"
          (click)="applyFilter('all')"
          checked
        />
      </div>
      <div class="form-check">
        <label class="form-check-label" for="flexRadioDefault1">
          Solo clientes activos
        </label>
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault2"
          (click)="applyFilter('actives')"
        />
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault3"
          (click)="applyFilter('fortnight')"
        />
        <label class="form-check-label" for="flexRadioDefault2">
          Clientes de esta quincena
        </label>
      </div>
    </div>
    <div class="content-table">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Entrenador</th>
            <th scope="col">WhatsApp</th>
            <th scope="col">Fecha de inicio</th>
            <th scope="col">Fecha final</th>
            <th scope="col">Plan</th>
            <th scope="col">Descuento activo</th>
            <th scope="col">Motivo descuento</th>
            <th scope="col">Mensualidad</th>
            <th scope="col">Activo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of clients">
            <td>{{ client.attributes.name }}</td>
            <td>{{ client.attributes.trainer }}</td>
            <td>{{ client.attributes.whatsapp }}</td>
            <td>{{ client.attributes.startDate | date : "dd/MM/yyyy" }}</td>
            <td>{{ client.attributes.endDate | date : "dd/MM/yyyy" }}</td>
            <td>{{ client.attributes.plan }}</td>
            <td class="false" [ngClass]="{ true: client.attributes.discount }">
              {{ client.attributes.discount ? "Si" : "No" }}
            </td>
            <td>
              {{
                client.attributes.discountDescription
                  ? client.attributes.discountDescription
                  : "No aplica"
              }}
            </td>
            <td>{{ client.attributes.monthlyPayment | currency }}</td>
            <td
              class="false"
              [ngClass]="{ true: isActive(client.attributes.endDate) == 'Si' }"
            >
              {{ isActive(client.attributes.endDate) }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Clients per trainer -->
  <div class="main-content" *ngIf="actionActive != 'clients'">
    <div class="content-header">
      <h2>Clientes de {{ actionActive }}</h2>
    </div>
    <div class="form-check d-flex filter">
      <div class="form-check">
        <label class="form-check-label" for="flexRadioDefault1">
          Todos los clientes
        </label>
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault1"
          (click)="applyFilterPerTrainer('all')"
          checked
        />
      </div>
      <div class="form-check">
        <label class="form-check-label" for="flexRadioDefault1">
          Solo clientes activos
        </label>
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault2"
          (click)="applyFilterPerTrainer('actives')"
        />
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault3"
          (click)="applyFilterPerTrainer('fortnight')"
        />
        <label class="form-check-label" for="flexRadioDefault2">
          Clientes de esta quincena
        </label>
      </div>
    </div>
    <div class="content-table">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Entrenador</th>
            <th scope="col">WhatsApp</th>
            <th scope="col">Fecha de inicio</th>
            <th scope="col">Fecha final</th>
            <th scope="col">Plan</th>
            <th scope="col">Descuento activo</th>
            <th scope="col">Motivo descuento</th>
            <th scope="col">Mensualidad</th>
            <th scope="col">Activo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of trainerClients">
            <td>{{ client.attributes.name }}</td>
            <td>{{ client.attributes.trainer }}</td>
            <td>{{ client.attributes.whatsapp }}</td>
            <td>{{ client.attributes.startDate | date : "dd/MM/yyyy" }}</td>
            <td>{{ client.attributes.endDate | date : "dd/MM/yyyy" }}</td>
            <td>{{ client.attributes.plan }}</td>
            <td class="false" [ngClass]="{ true: client.attributes.discount }">
              {{ client.attributes.discount ? "Si" : "No" }}
            </td>
            <td>
              {{
                client.attributes.discountDescription
                  ? client.attributes.discountDescription
                  : "No aplica"
              }}
            </td>
            <td>{{ client.attributes.monthlyPayment | currency }}</td>
            <td
              class="false"
              [ngClass]="{ true: isActive(client.attributes.endDate) == 'Si' }"
            >
              {{ isActive(client.attributes.endDate) }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
