.add-clients-container {
  .add-client-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 28px;
      font-weight: 600;
    }
  }
  .form-container {
    .form-wrapper {
      margin: 16px 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      gap: 22px;
    }
    .save-btn {
      width: 100%;
      display: flex;
      justify-content: center;
      button {
        width: 30%;
      }
    }
  }
}
