.progress-container {
  .progress-header {
    text-align: center;
    h1 {
      font-size: 28px;
      font-weight: 600;
    }
  }
  .progress-body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 22px;
    justify-content: center;
    .progress-card-container {
      display: flex;
      justify-content: center;
      .all-clients-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .progress-card-body {
          display: flex;
          flex-direction: column;
          .inline {
            margin: 6px 0;
            display: flex;
            justify-content: space-between;
            span {
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}
.progress-card {
  -webkit-box-shadow: 0px 0px 16px 0px rgb(219, 219, 219);
  -moz-box-shadow: 0px 0px 16px 0px rgba(219, 219, 219);
  box-shadow: 0px 0px 16px 0px rgba(219, 219, 219);
  width: 350px;
  max-width: 80vw;
  border-radius: 12px;
  padding: 8px 12px;
  .progress-header {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
  }
}
.progress-container {
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.progress-label {
  position: absolute;
  top: -20px;
  font-size: 14px;
}

.progress-label.right {
  right: 0;
}

.progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  height: 20px;
}

.progress {
  height: 100%;
  background-color: rgb(0, 60, 255);
  width: 0;
  border-radius: 10px;
  transition: width 0.3s ease;
}
.progress-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.fort-night-container {
  margin: 12px 0;
  width: 100%;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 5px;
  padding: 6px;
  text-align: center;
  span {
    font-weight: 500;
  }
}
