<div class="progress-container">
  <div class="progress-header">
    <h1>Progreso</h1>
  </div>
  <div class="progress-body">
    <!-- Primera quincena -->
    <div class="progress-card-container">
      <div class="fort-night-card progress-card">
        <div class="progress-header">
          <span>Primera quincena del mes</span>
        </div>
        <div class="progress-card-body">
          <div class="fort-night-container">
            <span>Plan 3 dias a la semana</span>
            <div class="inline">
              <div class="info">
                <span>Asesorados: </span>{{ fortnightClientsPerDays(1, "3") }}
              </div>
              <div class="info">
                <span>Pendientes: </span
                >{{ fortnightClientsPerDays(1, "3", false) }}
              </div>
              <div class="info">
                <span>Total pendientes: </span>
                {{ fortnightClientsPaymentPerDays(1, "3", false) | currency }}
              </div>
              <div class="info">
                <span>Total asesorados: </span>
                {{ fortnightClientsPaymentPerDays(1, "3") | currency }}
              </div>
            </div>
          </div>
          <div class="fort-night-container">
            <span>Plan 6 dias a la semana</span>
            <div class="inline">
              <div class="info">
                <span>Asesorados: </span>{{ fortnightClientsPerDays(1, "6") }}
              </div>
              <div class="info">
                <span>Pendientes: </span
                >{{ fortnightClientsPerDays(1, "6", false) }}
              </div>
              <div class="info">
                <span>Total pendientes: </span>
                {{ fortnightClientsPaymentPerDays(1, "6", false) | currency }}
              </div>
              <div class="info">
                <span>Total asesorados: </span>
                {{ fortnightClientsPaymentPerDays(1, "6") | currency }}
              </div>
            </div>
          </div>
          <div class="fort-night-container">
            <span>Total quincena</span>
            <div class="info">
              <span>Asesorados: </span
              >{{
                fortnightClientsPaymentPerDays(1, "3") +
                  fortnightClientsPaymentPerDays(1, "6") | currency
              }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Segunda quincena -->
    <div class="progress-card-container">
      <div class="fort-night-card progress-card">
        <div class="progress-header">
          <span>Segunda quincena del mes</span>
        </div>
        <div class="progress-card-body">
          <div class="fort-night-container">
            <span>Plan 3 dias a la semana</span>
            <div class="inline">
              <div class="info">
                <span>Asesorados: </span>{{ fortnightClientsPerDays(2, "3") }}
              </div>
              <div class="info">
                <span>Pendientes: </span
                >{{ fortnightClientsPerDays(2, "3", false) }}
              </div>
              <div class="info">
                <span>Total pendientes: </span>
                {{ fortnightClientsPaymentPerDays(2, "3", false) | currency }}
              </div>
              <div class="info">
                <span>Total asesorados: </span>
                {{ fortnightClientsPaymentPerDays(2, "3") | currency }}
              </div>
            </div>
          </div>
          <div class="fort-night-container">
            <span>Plan 6 dias a la semana</span>
            <div class="inline">
              <div class="info">
                <span>Asesorados: </span>{{ fortnightClientsPerDays(2, "6") }}
              </div>
              <div class="info">
                <span>Pendientes: </span
                >{{ fortnightClientsPerDays(2, "6", false) }}
              </div>
              <div class="info">
                <span>Total pendientes: </span>
                {{ fortnightClientsPaymentPerDays(2, "6", false) | currency }}
              </div>
              <div class="info">
                <span>Total asesorados: </span>
                {{ fortnightClientsPaymentPerDays(2, "6") | currency }}
              </div>
            </div>
          </div>
          <div class="fort-night-container">
            <span>Total quincena</span>
            <div class="info">
              <span>Asesorados: </span
              >{{
                fortnightClientsPaymentPerDays(2, "3") +
                  fortnightClientsPaymentPerDays(2, "6") | currency
              }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="progress-card-container">
      <div class="fort-night-card progress-card">
        <div class="progress-header">
          <span>Mi mes</span>
        </div>
        <div class="progress-card-body">
          <div class="progress-container">
            <div class="progress-label">0</div>
            <div class="progress-label right">7</div>
            <div class="progress-bar">
              <div
                class="progress"
                [style.width.%]="(currentMonthSixDaysClients / 7) * 100"
              >
                <span class="progress-text">{{
                  currentMonthSixDaysClients
                }}</span>
              </div>
            </div>
          </div>
          <div class="fort-night-container">
            <span>Plan 3 dias a la semana</span>
            <div class="inline">
              <div class="info">
                <span>Asesorados: </span>{{ currentMonthThreeDaysClients }}
              </div>
              <div class="info">
                <span>Mensualidades: </span>
                {{ currentMonthThreeDaysClientsPayment | currency }}
              </div>
            </div>
          </div>
          <div class="fort-night-container">
            <span>Plan 6 dias a la semana</span>
            <div class="inline">
              <div class="info">
                <span>Asesorados: </span>{{ currentMonthSixDaysClients }}
              </div>
              <div class="info">
                <span>Mensualidades: </span>
                {{ currentMonthSixDaysClientsPayment | currency }}
              </div>
            </div>
          </div>
          <div class="fort-night-container">
            <span>Total mes</span>
            <div class="info">
              <span>Asesorados: </span
              >{{
                currentMonthThreeDaysClientsPayment +
                  currentMonthSixDaysClientsPayment | currency
              }}
            </div>
          </div>
          <div class="fort-night-container">
            <span>Total bono</span>
            <div class="info"><span>Bono: </span>{{ bono | currency }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
