<h1 style="text-align: center">{{ trainerName }}</h1>

<div class="progress-container">
  <h3>Objetivo mensual</h3>
  <div class="progress-bar">
    <div
      class="progress"
      [style.width.%]="
        ((currentMonth?.firstHalf.actives['6 dias'] +
          currentMonth?.secondHalf.actives['6 dias']) /
          7) *
        100
      "
    >
      <span class="progress-text">{{
        currentMonth?.firstHalf.actives["6 dias"] +
          currentMonth?.secondHalf.actives["6 dias"]
      }}</span>
    </div>
  </div>
</div>

<mat-accordion>
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>Clientes</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="mat-elevation-z8" style="overflow-x: auto">
      <div class="chart-container">
        <div *ngFor="let chartOption of chartOptionsArray">
          <apx-chart
            [series]="chartOption.series"
            [chart]="chartOption.chart"
            [labels]="chartOption.labels"
            [dataLabels]="chartOption.dataLabels"
            [responsive]="chartOption.responsive"
            [title]="chartOption.title"
          ></apx-chart>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>Cuentas</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="mat-elevation-z8" style="overflow-x: auto">
      <!-- <button mat-raised-button color="primary" (click)="exportToExcel()">
        Descargar Excel
      </button> -->

      <!-- table -->
      <div class="mat-elevation-z8" style="overflow-x: auto">
        <table mat-table [dataSource]="dataSource" matSort class="mat-table">
          <!-- Columna de fecha -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
            <td mat-cell *matCellDef="let summary">
              <span class="status-circle"></span>
              {{ summary.date }}
            </td>
          </ng-container>
          <!-- Columna de quincena -->
          <ng-container matColumnDef="fortNight">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Quincena</th>
            <td mat-cell *matCellDef="let summary">
              <span class="status-circle"></span>
              {{ summary.fortNight }}
            </td>
          </ng-container>

          <!-- Columna de total -->
          <ng-container matColumnDef="reported">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Reportado</th>
            <td mat-cell *matCellDef="let summary">
              <span class="status-circle"></span>
              {{ summary.totalGenerated | currency }}
            </td>
          </ng-container>
          <!-- Columna de total -->
          <ng-container matColumnDef="pendingReported">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Pendiente por reportar
            </th>
            <td mat-cell *matCellDef="let summary">
              <span class="status-circle"></span>
              {{ summary.pendingGenerated | currency }}
            </td>
          </ng-container>
          <!-- Columna de total -->
          <ng-container matColumnDef="bonus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Bono</th>
            <td mat-cell *matCellDef="let summary">
              <span class="status-circle"></span>
              {{ summary.bonus | currency }}
            </td>
          </ng-container>
          <!-- Columna de total a cobrar -->
          <ng-container matColumnDef="myFortNight">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Por cobrar
            </th>
            <td mat-cell *matCellDef="let summary">
              <span class="status-circle"></span>
              <!-- {{ summary.totalCollected | currency }} -->
              {{
                summary.fortNight == "Segunda quincena"
                  ? (summary.totalCollected + summary.bonus | currency)
                  : (summary.totalCollected | currency)
              }}
            </td>
          </ng-container>
          <!-- Encabezados y Celdas -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<!-- table -->
<!-- <div class="mat-elevation-z8" style="overflow-x: auto">
  <table mat-table [dataSource]="dataSource" matSort class="mat-table"> -->
<!-- Columna de fecha -->
<!-- <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
      <td mat-cell *matCellDef="let summary">
        <span class="status-circle"></span>
        {{ summary.date }}
      </td>
    </ng-container> -->
<!-- Columna de quincena -->
<!-- <ng-container matColumnDef="fortNight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Quincena</th>
      <td mat-cell *matCellDef="let summary">
        <span class="status-circle"></span>
        {{ summary.fortNight }}
      </td>
    </ng-container> -->
<!-- Columna de numero de clientes de 3 dias A-->
<!-- <ng-container matColumnDef="threeDaysActives">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Activos 3 dias</th>
      <td mat-cell *matCellDef="let summary">
        <span class="status-circle"></span>
        {{ summary?.threeDaysActives ? summary?.threeDaysActives : "0" }}
      </td>
    </ng-container> -->
<!-- Columna de numero de clientes de 3 dias P-->
<!-- <ng-container matColumnDef="threeDaysPending">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Pendientes 3 dias
      </th>
      <td mat-cell *matCellDef="let summary">
        <span class="status-circle"></span>
        {{ summary?.threeDaysPending ? summary?.threeDaysPending : "0" }}
      </td>
    </ng-container> -->
<!-- Columna de numero de clientes de 6 dias A-->
<!-- <ng-container matColumnDef="sixDaysActives">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Activos 6 dias</th>
      <td mat-cell *matCellDef="let summary">
        <span class="status-circle"></span>
        {{ summary?.sixDaysActives }}
      </td>
    </ng-container> -->
<!-- Columna de numero de clientes de 6 dias P-->
<!-- <ng-container matColumnDef="sixDaysPending">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Pendientes 6 dias
      </th>
      <td mat-cell *matCellDef="let summary">
        <span class="status-circle"></span>
        {{ summary?.sixDaysPending ? summary?.sixDaysPending : "0" }}
      </td>
    </ng-container> -->
<!-- Columna de total -->
<!-- <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Generado</th>
      <td mat-cell *matCellDef="let summary">
        <span class="status-circle"></span>
        {{ summary.totalCollected | currency }}
      </td>
    </ng-container> -->
<!-- Columna de total a cobrar -->
<!-- <ng-container matColumnDef="myFortNight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Por cobrar</th>
      <td mat-cell *matCellDef="let summary">
        <span class="status-circle"></span>
        {{ summary.totalGenerated | currency }}
      </td>
    </ng-container> -->
<!-- Encabezados y Celdas -->
<!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table> -->
<!-- </div> -->
