.main-search {
  margin-top: 16px;
  margin-bottom: 16px;
}

.filters {
  // border: 1px solid #ddd;
  border-radius: 5px;
  padding: 9px;
  // background-color: #f8f9fa;
  overflow: hidden;
  display: flex;
  margin-bottom: 16px;
  form {
    display: flex;
    mat-form-field {
      display: flex;
      align-items: center;
      margin-right: 12px;
    }
  }
}

.all-clients-container {
  .clients-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    .filter-container {
      width: 90%;
      border: 1px solid rgb(163, 163, 163);
      border-radius: 10px;
      padding: 6px;
      form {
        mat-slide-toggle {
          margin: 8px;
        }
      }
    }
  }
  h1 {
    font-size: 28px;
    font-weight: 600;
  }
  input {
    width: 90%;
    height: 36px;
    border-radius: 8px;
    border: 1px solid gray;
    padding: 8px;
    margin-bottom: 16px;
  }
  .card-container {
    .card-element {
      display: flex;
      justify-content: center;
    }
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 22px;
    justify-content: center;
  }
}
