<h1 style="text-align: center">Clientes de Wolf Fitness</h1>
<div class="d-flex align-items-center main-search">
  <input
    type="text"
    class="form-control me-2"
    placeholder="Buscar"
    aria-label="Buscar"
    (input)="onSearch()"
    [(ngModel)]="searchClient"
  />
  <button
    class="btn btn-outline-secondary me-2"
    type="button"
    (click)="toggleFilters()"
  >
    Filtros
  </button>
</div>

<!-- Contenedor de filtros -->
<div class="filters" *ngIf="showFilters" [@filterAnimation]>
  <form [formGroup]="filtersForm" (submit)="applyFilters()">
    <!-- Trainer -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Entrenador</mat-label>
      <mat-select formControlName="trainer">
        <mat-option value="Ruby Manjarres">Ruby Manjarres</mat-option>
        <mat-option value="Ivan Romero">Ivan Romero</mat-option>
        <mat-option value="Julio Munive">Julio Munive</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Quincena</mat-label>
      <mat-select formControlName="fortNight">
        <mat-option value="1">Primera</mat-option>
        <mat-option value="2">Segunda</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-dialog-actions align="end">
      <button mat-flat-button color="primary" type="submit">Filtrar</button>
    </mat-dialog-actions>
  </form>
</div>

<app-table
  [clients]="clients"
  [pagination]="pagination"
  style="padding: 20px"
  (paginationChange)="onPageChange($event)"
  (updateVisibility)="updateVisibility($event)"
  [isAdmin]="true"
></app-table>
