.main-content {
  width: calc(100vw - 250px);
  padding: 10px 20px;
  margin-left: 250px;
  .content-header {
    margin: 10px 0;
    display: flex;
    justify-content: center;
  }

  .filters-container {
    form {
      display: flex;
      flex-direction: column;
      .main-search {
        margin-bottom: 15px;
        display: flex;
        input {
          margin-right: 12px;
        }
      }
      .other-filters {
        display: flex;
        .form-group {
          margin-right: 12px;
          width: 300px;
        }
      }
    }
    button {
      width: 200px;
      font-weight: 700;
      height: 50%;
    }
    margin-bottom: 15px;
  }
  .content-table {
    .false {
      color: red;
    }
    .true {
      color: green;
    }
    .actions {
      i {
        margin: 0 6px;
        cursor: pointer;
      }
    }
  }
  .form-container {
    margin-top: 30px;
    padding: 0 100px;
    display: flex;
    justify-content: center;
    form {
      width: 100%;
      .one {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        .client-name {
          width: 50%;
        }
        .plan {
          width: 40%;
        }
        .info {
          width: 30%;
        }
      }
      .two {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        .form-group {
          width: 30%;
        }
      }
      textarea {
        display: block;
        margin-bottom: 30px;
      }
      .save-btn {
        width: 100%;
        display: flex;
        justify-content: center;
        button {
          width: 30%;
        }
      }
    }
  }
}
