.edit-client-container {
  width: 80vw;
  max-width: 400px;
  padding: 20px 16px;
  .edit-client-header {
    text-align: center;
  }
  .form-container {
    .form-group {
      margin: 12px 0;
      p {
        text-align: center;
        button {
          margin-left: 12px;
        }
      }
    }
    .actions-btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      button {
        width: 40%;
      }
    }
  }
}
