<div class="edit-client-container">
  <div class="edit-client-header">
    <h1>Editar asesorado</h1>
  </div>
  <div class="form-container" *ngIf="!advancedMode">
    <form [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Fecha de inicio</label>
        <input
          formControlName="startDate"
          type="date"
          class="form-control short"
          placeholder="Seleccionar fecha"
        />
      </div>
      <div class="form-group">
        <label>Fecha final</label>
        <input
          formControlName="endDate"
          type="date"
          class="form-control short"
          placeholder="Seleccionar fecha"
        />
      </div>
      <div class="form-group">
        <p>
          <mat-slide-toggle formControlName="hasPaid" labelPosition="before">{{
            hasPaidValue ? "Al dia" : "Pendiente"
          }}</mat-slide-toggle>
        </p>
      </div>
      <div class="actions-btn">
        <button
          type="button"
          class="btn btn-outline-primary"
          (click)="switchMode()"
        >
          Avanzado
        </button>
        <button
          type="submit"
          [disabled]="!editUserForm.valid"
          class="btn btn-primary"
        >
          Guardar
        </button>
      </div>
    </form>
  </div>

  <!-- Modo avanzado -->
  <div class="form-container" *ngIf="advancedMode">
    <form [formGroup]="editUserAdvancedForm" (ngSubmit)="onAdvancedSubmit()">
      <div class="form-group">
        <label>Fecha de inicio</label>
        <input
          formControlName="startDate"
          type="date"
          class="form-control short"
          placeholder="Seleccionar fecha"
        />
      </div>
      <div class="form-group">
        <label>Fecha final</label>
        <input
          formControlName="endDate"
          type="date"
          class="form-control short"
          placeholder="Seleccionar fecha"
        />
      </div>
      <div class="form-group">
        <label for="plan">Selecciona el plan</label>
        <select id="plan" class="form-control" formControlName="plan">
          <option value="6 dias a la semana">6 días a la semana</option>
          <option value="3 dias a la semana">3 días a la semana</option>
        </select>
      </div>
      <div class="form-group">
        <label for="monthlyPayment">Pago Mensual</label>
        <input
          type="number"
          id="monthlyPayment"
          class="form-control"
          formControlName="monthlyPayment"
          placeholder="Ingrese el pago mensual"
        />
      </div>
      <div class="form-group">
        <label for="reasonForChanges">Razón de los cambios</label>
        <textarea
          id="reasonForChanges"
          class="form-control"
          formControlName="reasonForChanges"
          placeholder="Ingrese la razón de los cambios"
          rows="4"
        ></textarea>
      </div>
      <div class="form-group">
        <p>
          <mat-slide-toggle formControlName="hasPaid" labelPosition="before">{{
            hasPaidValue ? "Al dia" : "Pendiente"
          }}</mat-slide-toggle>
        </p>
      </div>
      <div class="actions-btn">
        <button
          type="button"
          class="btn btn-outline-primary"
          (click)="switchMode()"
        >
          Basico
        </button>
        <button
          type="submit"
          [disabled]="!editUserAdvancedForm.valid"
          class="btn btn-primary"
        >
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>
