<main class="d-flex">
  <!-- Sidebar -->
  <div class="sidebar">
    <div class="header">
      <h2>WOLF FITNESS</h2>
      <h4>{{ getUserName }}</h4>
    </div>
    <hr class="h-color mx-2 col-12" />
    <div class="body">
      <span class="col-12">Opciones</span>
      <div
        class="option"
        [ngClass]="{ active: actionActive === 'clients' }"
        (click)="actionActive = 'clients'"
      >
        Todos mis clientes
      </div>
      <div
        class="option"
        [ngClass]="{ active: actionActive === 'payment' }"
        (click)="actionActive = 'payment'"
      >
        Reportar pago
      </div>

      <div
        class="option"
        [ngClass]="{ active: actionActive === 'register' }"
        (click)="actionActive = 'register'"
      >
        Registrar usuario
      </div>
    </div>
    <div class="footer">
      <button (click)="logOut()">Cerrar sesion</button>
    </div>
  </div>

  <!-- All clients -->
  <div class="main-content" *ngIf="actionActive === 'clients'">
    <div class="content-header">
      <h2>Todos mis clientes</h2>
    </div>
    <div class="content-table">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">WhatsApp</th>
            <th scope="col">Fecha de inicio</th>
            <th scope="col">Fecha final</th>
            <th scope="col">Plan</th>
            <th scope="col">Descuento activo</th>
            <th scope="col">Mensualidad</th>
            <th scope="col">Activo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of clients">
            <td>{{ client.attributes.name }}</td>
            <td>{{ client.attributes.whatsapp }}</td>
            <td>{{ client.attributes.startDate | date : "dd/MM/yyyy" }}</td>
            <td>{{ client.attributes.endDate | date : "dd/MM/yyyy" }}</td>
            <td>{{ client.attributes.plan }}</td>
            <td class="false" [ngClass]="{ true: client.attributes.discount }">
              {{ client.attributes.discount ? "Si" : "No" }}
            </td>
            <td>{{ client.attributes.monthlyPayment | currency }}</td>
            <td
              class="false"
              [ngClass]="{ true: isActive(client.attributes.endDate) == 'Si' }"
            >
              {{ isActive(client.attributes.endDate) }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Make payment -->
  <div class="main-content" *ngIf="actionActive === 'payment'">
    <div class="content-header">
      <h2>Reportar pago</h2>
    </div>
    <div class="form-container">
      <form [formGroup]="makePaymentForm" (ngSubmit)="pay()">
        <div class="one">
          <div class="client-name form-group">
            <label>Nombre del cliente</label>
            <select class="form-select" formControlName="name">
              <option selected disabled>Selecciona un cliente...</option>
              <option
                *ngFor="let client of clients"
                [value]="client.attributes.name"
              >
                {{ client.attributes.name }}
              </option>
            </select>
          </div>
          <div class="plan form-group">
            <label>Plan</label>
            <select class="form-select" formControlName="plan">
              <option selected disabled>Selecciona un plan...</option>
              <option value="6 dias a la semana">6 dias a la semana</option>
              <option value="3 dias a la semana">3 dias a la semana</option>
            </select>
          </div>
        </div>
        <div class="two">
          <div class="form-group">
            <label>Fecha de inicio</label>
            <input
              formControlName="startDate"
              type="date"
              class="form-control"
              placeholder="Seleccionar fecha"
            />
          </div>

          <div class="form-group">
            <label>Mensualidad</label>
            <input
              formControlName="monthlyPayment"
              type="number"
              class="form-control"
            />
          </div>

          <div class="form-group">
            <label>Aplica algún descuento?</label>
            <select class="form-select" formControlName="discount">
              <option [ngValue]="true">Sí</option>
              <option [ngValue]="false">No</option>
            </select>
          </div>
        </div>

        <div *ngIf="makePaymentForm.value['discount']" class="form-group">
          <label>Motivo del descuento</label>
          <textarea
            formControlName="discountDescription"
            name=""
            id=""
            cols="40"
            rows="5"
          ></textarea>
        </div>
        <div class="save-btn">
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Register user -->
  <div class="main-content" *ngIf="actionActive === 'register'">
    <div class="content-header">
      <h2>Registrar nuevo usuario</h2>
    </div>
    <div class="form-container">
      <form [formGroup]="registerUserForm" (ngSubmit)="registerUser()">
        <div class="one">
          <div class="info form-group">
            <label>Nombre del cliente</label>
            <input
              type="text"
              class="form-control"
              placeholder="Nombre y apellido"
              formControlName="name"
            />
          </div>
          <div class="info form-group">
            <label>WhatsApp</label>
            <input
              type="text"
              class="form-control"
              placeholder="314778..."
              formControlName="whatsapp"
            />
          </div>
          <div class="info form-group">
            <label>Plan</label>
            <select class="form-select" formControlName="plan">
              <option selected disabled>Selecciona un plan...</option>
              <option value="6 dias a la semana">6 dias a la semana</option>
              <option value="3 dias a la semana">3 dias a la semana</option>
            </select>
          </div>
        </div>
        <div class="two">
          <div class="form-group">
            <label>Fecha de inicio</label>
            <input
              formControlName="startDate"
              type="date"
              class="form-control"
              placeholder="Seleccionar fecha"
            />
          </div>

          <div class="form-group">
            <label>Mensualidad</label>
            <input
              formControlName="monthlyPayment"
              type="number"
              class="form-control"
            />
          </div>

          <div class="form-group">
            <label>Aplica algún descuento?</label>
            <select class="form-select" formControlName="discount">
              <option [ngValue]="true">Sí</option>
              <option [ngValue]="false">No</option>
            </select>
          </div>
        </div>

        <div *ngIf="registerUserForm.value['discount']" class="form-group">
          <label>Motivo del descuento</label>
          <textarea
            formControlName="discountDescription"
            name=""
            id=""
            cols="40"
            rows="5"
          ></textarea>
        </div>
        <div class="save-btn">
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</main>
